
<footer id="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <p><img src="/assets/img/logo-forttiori-white.svg" alt="logo forttiori branco"></p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <p>
          <a href="https://www.instagram.com/forttiori.it/" target="_blank"><img src="/assets/img/vector-instagram.svg" alt="instagram forttiori" class="mr-2"></a>
          <a href="https://www.facebook.com/ForttioriIT" target="_blank"><img src="/assets/img/vector-facebook.svg" alt="facebook forttiori" class="mr-2"></a>
          <a href="https://www.linkedin.com/company/forttiori-it" target="_blank"><img src="/assets/img/vector-linkedin.svg" alt="linkedin forttiori" class="mr-2"></a>
        </p>
      </div>
      <div class="col-md-4">
        <p>Av. Ceará 1309 - Porto Alegre - RS</p>
        <p><a href="mailto:contato@forttiori.it">contato@forttiori.it</a></p>
      </div>
      <div class="col-md-4">
        <a href="plano-de-carreira.html">Plano de carreira e vagas</a>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col">
        <p class="text-center" style="font-size: 16px">2020 Forttiori.IT - Todos os direitos reservados</p>
      </div>
    </div>
  </div>
</footer>
