<app-header></app-header>

<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <img src="/assets/img/galera.jpg" alt="" class="img-fluid">
    </div>
  </div>
  <div class="s-60"></div>
  <div class="row justify-content-center">
    <div class="col-md-4">
      <h2 class="text-center"><img src="/assets/img/apoio-titulo.svg" alt="apoio titulo"> Lorem ipsum dolor</h2>
      <div class="s-30"></div>
      <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
  </div>
  <div class="s-60"></div>
  <div id="socios" class="row justify-content-center">
    <div class="col-md-3">
      <div class="row">
        <div class="col-sm-8">
          <img src="/assets/img/foto-alexandre-leal.jpg" alt="" class="img-fluid">
        </div>
        <div class="col-sm-4" style="padding-left: 0px;">
          <h2>Alexandre Leal</h2>
          <div class="rectangle-title-s"></div>
          Sócio <br>
          Analista <br>
          <a href="#"><img src="/assets/img/linkedin.svg" alt="" width="20"></a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="row">
        <div class="col-sm-8">
          <img src="/assets/img/foto-david.jpg" alt="" class="img-fluid">
        </div>
        <div class="col-sm-4" style="padding-left: 0px;">
          <h2>David Petró</h2>
          <div class="rectangle-title-s"></div>
          Sócio <br>
          Software Engineer <br>
          <a href="#"><img src="/assets/img/linkedin.svg" alt="" width="20"></a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="row">
        <div class="col-sm-8">
          <img src="/assets/img/foto-raphael.jpg" alt="" class="img-fluid">
        </div>
        <div class="col-sm-4" style="padding-left: 0px;">
          <h2>Raphael Monteiro</h2>
          <div class="rectangle-title-s"></div>
          Sócio <br>
          Software Engineer <br>
          <a href="#"><img src="/assets/img/linkedin.svg" alt="" width="20"></a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="s-60"></div>
<div class="s-60"></div>

<section id="instagram-fotos">
  <h2 class="text-center"><img src="/assets/img/apoio-titulo.svg" alt="apoio titulo"> Nossa cultura</h2>
  <div class="s-60"></div>
  <!-- TRAZER A API DO INSTAGRAM PRA CÁ, NO FORMATO DESSA IMAGEM -->
  <img src="/assets/img/fotos-insta.jpg" alt="" class="img-fluid">
</section>

<div class="s-60"></div>
<div class="s-60"></div>

<section id="together">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <h1 class="text-center"><img src="/assets/img/apoio-titulo.svg" alt="apoio titulo"> Juntos podemos mais</h1>
      </div>
    </div>
  </div>
</section>

<div class="s-60"></div>
<div class="s-60"></div>

<section id="contact">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 align-self-center text-center">
        <img src="/assets/img/ilustracao-02.png" alt="ilustracao" class="img-fluid ilus">
      </div>
      <div class="col-md-4">
        <h3>Do que você precisa?</h3>
        <form action="">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Nome">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Email">
          </div>
          <div class="form-group">
            <select name="" id="" class="form-control" >
              <option value="">Assunto</option>
              <option value="">Comercial</option>
              <option value="">Suporte</option>
              <option value="">Carreira</option>
            </select>
          </div>
          <div class="form-group">
            <textarea name="" id="" rows="3" placeholder="Mensagem" class="form-control"></textarea>
          </div>
          <button type="submit" class="btn btn-primary form-control">Enviar</button>
        </form>
      </div>
    </div>
  </div>
</section>

<div class="s-60"></div>
<div class="s-60"></div>

<app-footer></app-footer>
