<app-header></app-header>

<section id="plano-de-carreira">
  <div class="container-fluid">
    <div class="s-60"></div>
    <div class="row justify-content-center">
      <div class="col-md-4">
        <h2 class="text-center"><img src="/assets/img/apoio-titulo.svg" alt="apoio titulo"> Plano de Carreira</h2>
        <div class="s-30"></div>
        <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
    </div>
    <div class="s-60"></div>
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="col-2 align-self-center">
            <img src="/assets/img/1-fase-icon.svg" alt="primeira fase" class="img-fluid">
          </div>
          <div class="col-8 align-self-center">
            <h3>1ª Fase</h3>
            <p>
              Formação <br>
              Práticas <br>
              Apresentações <br>
            </p>
          </div>
        </div>
        <div class="s-30"></div>
        <div class="row">
          <div class="col-2 align-self-center">
            <img src="/assets/img/2-fase-icon.svg" alt="segunda fase" class="img-fluid">
          </div>
          <div class="col-8 align-self-center">
            <h3>2ª Fase</h3>
            <p>
              Prova de qualificação
            </p>
          </div>
        </div>
        <div class="s-30"></div>
        <div class="row">
          <div class="col-2 align-self-center">
            <img src="/assets/img/3-fase-icon.svg" alt="terceira fase" class="img-fluid">
          </div>
          <div class="col-8 align-self-center">
            <h3>3ª Fase</h3>
            <p>
              Profissional alocado e preparado para trabalhar em grandes projetos, sejam eles internos ou externos.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 text-center align-self-center">
        <img src="/assets/img/ilustracao-03.png" alt="" class="img-fluid">
      </div>
    </div>
  </div>
</section>

<div class="s-60"></div>
<div class="s-60"></div>

<section id="vagas">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-md-4">
        <h2 class="text-center"><img src="/assets/img/apoio-titulo.svg" alt="apoio titulo"> Vagas disponíveis</h2>
      </div>
    </div>
    <div class="s-60"></div>
    <div class="row">
      <div class="col-md-4">
        <div class="vaga-card">
          <div class="titulo-vaga">
            <h3>React Native Developer</h3>
          </div>
          <div class="conteudo-vaga">
            <p>
              - Skill 1 <br>
              - Skill 2 <br>
              - Skill 3
            </p>
            <p class="text-center">
              <a href="" class="button-blue">Candidatar-se</a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="vaga-card">
          <div class="titulo-vaga">
            <h3>React Native Developer</h3>
          </div>
          <div class="conteudo-vaga">
            <p>
              - Skill 1 <br>
              - Skill 2 <br>
              - Skill 3
            </p>
            <p class="text-center">
              <a href="" class="button-blue">Candidatar-se</a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="vaga-card">
          <div class="titulo-vaga">
            <h3>React Native Developer</h3>
          </div>
          <div class="conteudo-vaga">
            <p>
              - Skill 1 <br>
              - Skill 2 <br>
              - Skill 3
            </p>
            <p class="text-center">
              <a href="" class="button-blue">Candidatar-se</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="s-60"></div>

<section id="together">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <h1 class="text-center"><img src="/assets/img/apoio-titulo.svg" alt="apoio titulo"> Juntos podemos mais</h1>
      </div>
    </div>
  </div>
</section>

<div class="s-60"></div>
<div class="s-60"></div>

<section id="contact">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 align-self-center text-center">
        <img src="/assets/img/ilustracao-02.png" alt="ilustracao" class="img-fluid ilus">
      </div>
      <div class="col-md-4">
        <h3>Do que você precisa?</h3>
        <form action="">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Nome">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Email">
          </div>
          <div class="form-group">
            <select name="" id="" class="form-control" >
              <option value="">Assunto</option>
              <option value="">Comercial</option>
              <option value="">Suporte</option>
              <option value="">Carreira</option>
            </select>
          </div>
          <div class="form-group">
            <textarea name="" id="" rows="3" placeholder="Mensagem" class="form-control"></textarea>
          </div>
          <button type="submit" class="btn btn-primary form-control">Enviar</button>
        </form>
      </div>
    </div>
  </div>
</section>

<div class="s-60"></div>
<div class="s-60"></div>

<app-footer></app-footer>
